*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d1422;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 9999;

}
.bgg{
    background-color: black;
}

.group{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo{
    font-size: 28px;
    color: white;
}

.nav-links>a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 600;
}

.nav-links2>a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
.nav-links2>button{
    width: 100px;
    padding: 10px 12px;
    border-radius: 10px 10px;
    background-color: #cfd0d3;
    border: 1px solid;
}
.bn {
    padding: 10px 30px;
    background-color: #cfd0d3;
    color: black;
    font-weight: 800;
    text-decoration: none;
    border-radius: 6px;
    border: 0;
    font-size: 15px;
}


/* .nav-links2:hover{
    background-color:white

} */

.logo{
    width: 100%;
    max-width: 500px;
    height: auto;

}
.hm{
    background-image:linear-gradient(to bottom, transparent, black), url(https://cdn.sega.co.uk/humankind-game/public/styles/1920/public/content/media/bg/image/KeyArt_Oceania_3840x2160%20%282%29.jpg?itok=arH0k1Z4);
    background-size: cover;
    /* height: 120vh; */
    /* width: 100%; */
    display: flex;
    padding: 200px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.hm2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bt{
    margin-top: 20px;
    padding: 12px 30px;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px 5px;
    color: white;
    /* position: absolute;
    top: 90%;
    right: 92%; */
}

.hm button:hover{
    background-color: white;
    color: #0d1422;

}
section{
    background-image: url(https://cdn.sega.co.uk/humankind-game/public/styles/1920/public/content/media/bg/image/promo-bg.jpg?VersionId=QPqKz3FhOX30sjbSs_6yl0x4DvCT1Pr_&itok=sNi6C55w);
    background-size: cover;
    /* height: 100vh; */
    
}



.spy{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    gap: 28px;
}

.spykid{
    width: 50%;
}
.spykid>h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.spykid>p{
    margin-top: 10px;
    font-size: 17px;
}
.spykid>ul{
    margin: 20px 0;
}
.spykid>li{
    margin-bottom: 8px;
}
.spykid>button{
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.spykid button:hover{
    background-color: white;
    color: black;
    border: 2px solid black; 
}
.dollez img{
    box-shadow: 3px 3px 5px black;
   
}

.thirdpage{
    background-image: url(https://cdn.sega.co.uk/humankind-game/public/styles/1920/public/content/media/bg/image/second-promo-landscape.jpg?VersionId=CAe7DFcem91Si2h3UUkbDEcr81RUUMrZ&itok=YPnRZU6s);
    background-size: cover;
    color: white;
    /* height: 100VH; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 60px 80px; */
    flex-basis: 50%;
    text-align: left;
}
.last{
   padding: 30px;
}
.last>h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}
.last>h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.last>p{
    font-size: 15px;
    margin-bottom: 20px;
}
.last>button{
    padding: 12px 25px;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.last button:hover{
    background-color: white;
    color: black;
}
.lp{
    flex: 1;
    text-align: left;
}

.lp img{
    width: 100%;
    border-radius: 10px;

}

.gunner{
    background-image:linear-gradient(to left, transparent,rgba(0, 0, 0, 0.589)), url(https://cdn.sega.co.uk/humankind-game/public/styles/1920/public/content/media/bg/image/G2G-Background.jpg?VersionId=yUE6e47EcV_VIljwYe.SsOyFOBHa3Y38&itok=EumVQ2Dh);
    background-size: cover;
    /* height: 400px; */
    background-position: center ;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    padding: 100px;
    padding-bottom: 250px;
}
.g2{
   /* font-size: 50px; */
   font-weight: 400px;
}

.g3>p{
    font-size: 15px;
    color: white;
    padding-top: 20px;
}
.g3>button{
    padding: 12px 25px;
    background: transparent;
    color: white;
    border-color: white;
    border-radius: 5px 5px;
    margin-top: 25px;
    cursor: pointer;
}
.g3 button:hover{
    background-color: white;
    color: #0d1422;
}
footer{
    background-color: #13223f;
    background-size: cover;
    /* height: 100vh; */
    background-position: center;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    padding: 60px 100px;

}

.gabi{
    padding: 20px;
}


/* .gabi img{
    height: 40px;
    margin-right: 18px;
    
} */
footer>hr{
    height: 1px;
    width: 100%;
    border-top: 2px;
    margin-top: 20px;
}
.saks{
    color: white;
    font-size: 11px;
    font-weight: 400;
    font-family: sans-serif;
    word-spacing: 1px;
    /* width: 100%; */
   margin: 20px;
}
.policy{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
   margin: 10px;
   
   font-family: sans-serif;
}

.footer-bottom img{
    margin-top: 20px;
    /* margin: 10px; */
}

.footer-bottom2>button{
    padding: 13px 45px;
    border-color: white;
    cursor: pointer;
    margin-top: 20px;
    background: transparent;
    color: white;
    font-size: 15px;

}

.footer-bottom2>p{
    color: white;
    font-family: sans-serif;
    margin-top: 20px;
    font-weight: bold;
}

.semifinal{
    background-color: white;
    border: 5px 5px;
    border-color: 5px solid white;
    width: 250px;
    display: inline-block;
    margin-top: 20px;
    
}
.final{
    display: flex;
    align-items: center;
    gap: 10px;
}

.final img{
    /* margin-bottom: 10px; */
    width: 150px;
}
.final>p{
    font-size: 13px;
    margin: 0;
    font-weight: bold;
}

.multiple-img{
    background-color: #131622;
    /* height: 250vh; */
    text-align: center;
    /* color: white; */

}

.multiple-link{
    padding-top: 60px;
}
.med{
    color: white;
    font-size: 50px;
    margin: 0;

}

.doubleb button{
    padding: 10px 25px;
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px 5px;
    font-size: 15px;
    /* display: grid; */
    /* margin-top: 10px; */

}
.ar15{
    position: absolute;
    left: 75%;
}
.ar17{
    position: absolute;
    left: 85% ;
}

.parent{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 100px;
    margin-top: 80px;
}

.group1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
}

.group1>img{
    object-fit: cover;
    width: 100%;
    border-radius: 6px
}

.group2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.group2>img{
    object-fit: cover;
    width: 100%;
    border-radius: 6px
}


main{
    background-color: #0d1422;
    /* height: 100vh; */
    /* width: 100%; */
    /* max-width: 1200px; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7px;
    padding: 10px 30px;
}

.vidhead img{
    max-width: 400px;
    width: 100%;
    margin-bottom: 40px;

}

.vid-grid{
    display: grid;
    grid-template-columns:repeat(4, 210px);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* gap: 20px; */
    width: 100%;
    justify-content:center;
    /* align-items: center; */
}
video{
    width: 200px;
    border-radius: 5px 5px;
    /* text-align: center; */
}
.loop{
    padding: 20px;
    /* text-align: center; */
    position: relative;
}
.loop>h3{
    color: white;
    font-size: 12px;

}

.loop>p{
    color: white;
    font-size: 10px;
    word-spacing: 1px;
    top: 20%;
}
.loop>strong{
    color: #cfd0d3;
    font-size: 12px;

}

.one{
     top: 52%;
    position: absolute;
    left: 57px;
}

/* .poster{
    position: absolute;
    left: 32%;
    top:60% ;
}
.his{
    position: absolute;
    top: 60%;
}
.mas{
    position: absolute;
    top: 60%;
} */


 .animsec{
    background-image: url(https://cdn.sega.co.uk/humankind-game/public/styles/1920/public/content/media/bg/image/quote_bg.jpg?VersionId=2IzWfl__bb0aWLepYifmyjgGnCUwRwRf&itok=h780UZuj);
    /* height: 60vh; */
    background-position: center;
    background-size: cover;
    color: white;
    padding: 150px 20px;
    animation-iteration-count: infinite;
    position: relative;
    /* display: flex; */
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
 }

 .anim1{
    position: absolute;
    left: 25%;
    animation-name: anim1;
    animation-delay: 2s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
 }



 @keyframes anim1{
    0%, 30%{
        opacity: 0;
    }
    35%,60%{
        opacity: 1;
    }
    65%, 100%{
        opacity: 0;
    }
    
 } 

 .anim2{
    position: absolute;
    /* top: 0; */
    left: 25%;
    animation-name: anim2;
    animation-delay:5s;
    /* opacity: 0; */
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

 }


 @keyframes anim2{
    0%, 30%{
        opacity: 0;
    }
    35%, 60%{
        opacity: 1;
    }
    65%, 100%{
        opacity: 0;
    }
 }

 .anim3{
    animation-name: anim3;
    position: relative;
    animation-delay: 7s;
    left: -2%;
    /* opacity: 0; */
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

 }



 @keyframes anim3 {
    0%, 30%{
        opacity: 0;
    }
    35%, 60%{
        opacity: 1;
    }
    65%, 100%{
        opacity: 0;
    }
 }

@media screen and (max-width:1024px) {

    .parent{
        padding: 81px;
        margin-top: 15px;
    }

    .doubleb button{
        padding: 9px 17px;
    }

    .g3>p{
        font-size: 20px;
    }


    
}

@media screen and (max-width:768px) {
    .vid-grid{
        grid-template-columns: 1fr 1fr;
    }
   .one{
    top: 55%;

    left: 24% ;

   }

   .doubleb button{
    padding: 9px 7px;
   }

   .spy{
    padding: 35px;
   }
   
   .thirdpage{
    flex-direction: column;

    padding: 20px;
   }
   
  
}


@media screen and (max-width:426px) {

.gunner{
    justify-content: center;
    align-items: center;
    padding: 13px;
   }
   
   .g3>p{
    font-size: 11px;
   }
   .g3 button{
    padding: 8px 5px;
   }
   .game{
    width: 250px;
   }

   footer{
    padding: 20px;
   }

   .vid-grid{
    grid-template-columns: 1fr;
   }

   .dollez img{
    width: 200px;
   }

   .parent{
    padding: 50px;
   }

   .spy{
    flex-direction: column;
   }

   .ar15{
    left: 54%;
   }

   .ar17{
    left: 73%;
   }

   .animsec{
    padding: 50px;
   }
   .logo{
    width: 44%;
   }

   .bt{
    padding: 5px 17px;
    font-size: 15px;
   }
   .one{
    left: 30%;
   }

}

@media screen and (max-width:376px) {
   .logo{
    width: 40%; 
   }

   .bt{
    padding: 8px 9px;
   }

   .doubleb button{
    padding: 8px 5px;
   }

   .parent{
    padding: 30px;
    margin-top: 30px;
   }

   .game{
    width: 250px;
   }

   .g3>p{
    font-size: 12px;
   }

   .policy{
    font-size: 9px;
   }

}

@media screen and (max-width:320px) {
    .doubleb button{
        padding: 10px 1px;
    }
    .parent{
        padding: 22px;
    }

    .group2{
        gap: 4px;
    }
    .group1{
        gap: 9px;
    }

}



