*{ margin: 0;
    padding: 0;
    box-sizing: border-box; }

/* .navbar{
     background-color:#f2f7f8;
    padding: 20px 80px;
    top: 0;
    z-index: 99999;
 }
.logo{ width: 250px; } */
/* .nav-links{ list-style: none;
    gap: 30px;
    margin-left: -120px;
    margin-top: 20px; }
.nav-links a{ text-decoration: none;
    color: #3d4f60; }
.nav-buttons button{ padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 10px; }
.login{ border: 1px solid black; }
.signup{ background-color: #122231;
    border: none; } */

    main{ background-color: #f2f7f8;
    padding: 160px 0;
padding-bottom: 0; }
.container{ padding:155px 50px; 
margin-top: -70px ;}
.bmw{ gap: 5px;
    word-spacing: -1px; }
.spin{ animation: spin 6s linear infinite;
    transform-origin: 50% 50%; }
@keyframes spin { to {
     transform: rotate(360deg); } }
.rolls-royce{  gap: 10px;
    transition: all 0.3s ease; }
.rolls-royce :hover{ background-color: black !important;
    transform: translateY(-3px) scale(1.03); }
.rolls-royce>div>a{ text-decoration: none; }
.bmw:hover{ background-color: black !important; }
.phantom, .ghost{ transition: all 0.3s ease; }
.avatar{ animation: anng 3s ease-in-out infinite; }
.anng img:first-child{ top: -415px;
    left: 56%; }
.avatar:hover{  animation-play-state: paused; }
@keyframes anng { 0%, 100%{
    transform: translateY(0); }  
50%{ transform: translateY(-15px); }  }
.soka{ left: 50%;
    top: -350px; }
.tough{ top: -370px;
    left: 84%; }
.suki{ top: -220px;
    left:50% ; }
.appa{ top: -180px;
    left: 85%; }
.momo{ top: -68px;
    left: 50%; }
.azula{ top: 10px;
    left: 85% ; }

.iphone{ background-color: #f2f7f8; }
.iphone13{ 
    padding: 0 100px 20px 100px ; }
.iphone16{ font-size: 14px; }
.iphone17{ background-image: linear-gradient(180deg, transparent 65%, #abb7ca 0); }

.toyota{ background-color: #f2f7f8;
     padding: 60px 0; }
.rangers{ gap: 20px 50px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);}
.red-ranger, .pink-ranger, .black-ranger, .silver-ranger, .navyblue-ranger, .orange-ranger{ background-color: white ;
    color:#003399;
    padding: 200px 30px ;
    width: 400px;
    cursor: pointer;
    box-shadow: 0 10px 20px grey;
     overflow: hidden; }
.blue-ranger{ top: 20px;
    left: 40px;
    margin-top: 10px;
    font-size: 2rem; }
.red-ranger:hover{ background-color: #0f60d6;
    color: white; }
.red-ranger:hover .arrow{ filter: brightness(0) invert(1); }
.green-ranger{ color: black; 
    top: 20%;}
.red-ranger:hover p{ color: white; }
.yellow-ranger{ top: 80%; 
   color: #003399;}
.red-ranger:hover .yellow-ranger {filter: brightness(0) invert(1); }
.phone{ bottom: 0;
    right: -150px;
    transform: translateX(0);
    opacity: 0;
    /* transition: all 0.6s ease-in-out; */
    transition: right 0.6s ease, opacity 0.6s ease; }
.red-ranger:hover .phone{  right: 20px;
    opacity: 1; }
.pink-ranger{ color: #3296ff;}
.pink-ranger:hover{ background-color: #3296ff;
    color: white;}
.pink-ranger:hover p { color: white;}
.pink-ranger:hover .gold-ranger{  filter: brightness(0) invert(1); }
.gold-ranger{ top: 80%;
   color: #3296ff;}
.pink-ranger:hover .phone{ right: 20px;
    opacity: 1;}
.black-ranger{ color: #069b40;  }
.black-ranger:hover{background-color: #069b40;
   color: white;}
.black-ranger:hover p{ color: white;}
.purple-ranger{top: 80%;
   color: #069b40;}
.black-ranger:hover .purple-ranger{filter: brightness(0) invert(1);}
.black-ranger:hover .phone{right: 20px;
   opacity: 1;}
.silver-ranger{ color: #e5288e; }
.silver-ranger:hover{background-color: #e5288e ;
    color: white;}
.silver-ranger:hover p{color: white;}
.violet-ranger{top: 80%;
    color: #e5288e;}
.silver-ranger:hover .violet-ranger{filter: brightness(0) invert(1);}
.silver-ranger:hover .phone{right: 20px;
    opacity: 1;}
.navyblue-ranger{ color: #0c1825; }
.navyblue-ranger:hover{background-color: #0c1825 ;
    color: white;}
.navyblue-ranger:hover p{color: white;}
.skyblue-ranger{top: 80%;
    color: #0c1825;}
.navyblue-ranger:hover .skyblue-ranger{filter: brightness(0) invert(1);}
.navyblue-ranger:hover .phone{right: 20px;
   opacity: 1;}
   .orange-ranger{ color: #eb713d; }
.orange-ranger:hover{background-color:#eb713d;
    color: white;}
.orange-ranger:hover p{color: white;}
.olivegreen-ranger{top: 80%;
    color: #eb713d;}
.orange-ranger:hover .olivegreen-ranger{filter: brightness(0) invert(1);}
.orange-ranger:hover .phone{right: 20px;
    opacity: 1;}

.epl{background-color: white;
padding: 150px;
text-align: center;}
.madrid{background-color: #7913e5;
    padding: 180px 10px;
   width: 100%;
   max-width: 1100px;
   color: white;
   text-align: left;
   padding-top: 40px;}
.sevilla{ top: 90%;
 background-image: linear-gradient(180deg, transparent 65%, #abb7ca 0);}
.girona{  left: 55%;
    top: 22.3%; }

.seria-a{background-color: #f2f7f8;
     padding: 80px 100px;
text-align: center;}
.juve{text-align: left;}
.napoli{margin-top: 170px;}
.roma{ gap: 40px;
    flex-wrap: wrap;}
.lazio, .torino { transition: all 0.3s ease; }
.fiorentina{ align-items: flex-start;}
.atlanta :hover{  transform: translateY(-3px) scale(1.03); }
